* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    background-image: url("images/sfondo_spiaggia.png");
    background-repeat:no-repeat;
    background-size: cover;
}

:root {
    --primary-color: #000000;
}

h1, #menu a, h2, p, h3 {
    color: var(--primary-color);
} 

#title {
    text-align: center;
}

#banner {
    width:20%;
}

a {
    text-decoration: none;
}

    /*psuedo classi*/
    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

.header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    padding: 20px;;
}




#central-title {
    font-style: italic;
    font-weight: bolder;
    margin: 20px;
    color: var(--primary-color);
    text-align: center;
}

.main {

    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-left: 10%;
    width: fit-content;
}

#menu {
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.destinations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    gap: 50px;
}

.destinations div {
    max-width: 50%;
}
.env {
    width: 40%;
    height: auto;
}

.destinations div {
    max-width: 30%;
}
.footer {
    text-align: center;
    padding: 10px;
}

.container {
    background-color: #ffffff85;
}

.active {
    text-decoration: underline;
 }

 .titolo-centrale {
    margin-left: 2px;
 }
 .sales {
    width: 30%;
}

#sconti{
    font-weight: bolder;
    color: var(--primary-color);
    margin: 20px;
}

#saldi {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.footer {
    text-align: center;
    padding: 10px;
}
 