* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
#title {
    text-align: center;
}

#banner {
    width:20%;
}

a {
    text-decoration: none;
    color: black;
}

    /*psuedo classi*/
    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

.container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    padding: 20px;;
}

#menu {
    font-weight: bolder;
    display: flex
    ;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 30px;
}
#immagine {
    display: flex;
    justify-content: center;
}

#central-title {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
}