/* ------------------------------------
   1. Reset CSS e Impostazioni Generali
   ------------------------------------ */
/* ------------------------------------
   2. Variabili CSS
   ------------------------------------ */
/* ------------------------------------
   3. Tipografia
   ------------------------------------ */
   h2 {
    font-size: 2em; 
    font-weight: 800;
    padding-bottom: 0.2em;
    

}

p {
    margin-bottom: 1em; /* Spazio sotto i paragrafi */
    
}

.border {
    border-bottom: 2px solid var(--accent-color); /* Sottolineatura */
    padding-bottom: 50px;
}

/* ------------------------------------
   4. Layout e Componenti
   ------------------------------------ */
/* ------------------------------------
   5. Stili di Stato (Hover, Focus)
   ------------------------------------ */
/* ------------------------------------
   6.  Responsività
   ------------------------------------ */
